.outer {
	background: rgb(50,50,50);
	width: 200px;
	height: 300px;
	float: left;
	margin-top: 50px;
	margin-left: 810px;
	}

.inner {
	background: rgb(250,250,250);
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 150px;
	margin-bottom: 25px;
}

.inner img{
	margin-top: 12.5px;
	margin-left: 12.5px;
}



.container {
	width: 1920px;
	height: 1080px;
	float: left;
	background:rgb(0,0,0);
	
}