html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;

}



.outer {
	display: block;
	background: rgb(50,50,50);
	width: 200px;
	height: 300px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	}

.inner {
	display: block;
	float: left;
	background: rgb(250,250,250);
	width: 100px;
	height: 100px;
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 150px;
	margin-bottom: 25px;
}

.inner img{
	margin-top: 12.5px;
	margin-left: 12.5px;
}



.container {
	position: absolute;
	width: 100%;
	height: 100%;
	background:rgb(0,0,0);
	
}