html, body {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

#container {
	
	width: 100%;
	height: 1000px;
	padding-top: 50px;
		
}

#elevator {
	position: relative;
	
	width: 500px;
	height: 700px;
	margin: auto;

}

#letters {
	position: absolute;
	width: 244px;
	height: 25px;
	top: 6px;
	left: 90px;
	z-index: 6;
	display: flex;
	justify-content: space-around;
}

#letters p {
	font-size: 20px;
	margin: 0px;
	margin-top: 3px;
}

#frame {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

#cabin {
	position: absolute;
	top: 53px;
	left: 47px;
	z-index: 0;
}

#doorLeft {
	position: absolute;
	top: 55px;
	left: 49px;
	width: 172px;
	height: 601px;
	z-index: 2;
}

#doorRight {
	position: absolute;
	top: 55px;
	left: 221px;
	width: 172px;
	height: 601px;
	z-index: 3;
}

#doordiv {
	position: absolute;
	top: 53px;
	left: 47px;
	width: 344px;
	height: 601px;
	z-index: 4;
}

#controlButtons {
	position: absolute;
	
	height: 100px;
	background-color: white;
	left: 450px;
	top: 250px;
	border-style: solid;
	border-width: 1px;
	padding-top: 15px;
	padding-left: 7.5px;
	padding-right: 7.5px;
}

#up {
	position: relative;
	width: 35px;
	height: 35px;
	background-color: grey;
	border-radius: 50%;
}

#down {
	position: relative;
	width: 35px;
	height: 35px;
	background-color: grey;
	border-radius: 50%;
	margin-top: 15px;
}

#up img {
	width: 50%;
	height: 50%;
	margin-top: 7.5px;
	margin-left: 9px;
}

#down img {
	transform: rotate(180deg);
	width: 50%;
	height: 50%;
	margin-top: 10px;
	margin-left: 9px;	
}

img {
	width: 100%;
	height: 100%;
}

#title {
	width: 100%;
	text-align: center;
	text-decoration: underline;
}

#title h1 {
	font-size: 57px;
	font-weight: lighter;
}

#content {
	width: 774px;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-around;

}

#image {
	float: left;
	background-color: white;
	margin-top: 5%;
	width: 255px;
	height: 310px;
}

#text {
	background-color: white;
	float: left;
	width: 456px;
	height: auto;
	font-size: 20px;
}
