


#container {
	background-color: rgb(255,255,255);
	width: 1920px;
	height: 1080px;
	margin: 0px;
	padding-top: 0px;
	display: block;
	outline: solid;
	outline-color: black;
}

#header {
	width: 1920px;
	height: 175px;
	background-color: rgb(50,50,50);
	float: left;
}

#header h1 {
	color: white;
	font-family: helvetica;
	font-weight: bold;
	font-size: 104px;
	margin-top: 30px;
	margin-left: 20px;
	
}

#colors {
	padding-top: 394px;
}

#red {
	height: 292px;
	width: 292px;
	margin-left: 416px;
	background-color: red;
	display: inline-block;
	border: none;
}

#orange {
	height: 292px;
	width: 292px;
	background-color: rgb(248,126,3);
	margin-left: 106px;
	display: inline-block;
}

#yellow {
	height: 292px;
	width: 292px;
	float:right;
	margin-right: 416px;
	background-color: rgb(255,245,0);
	display: inline-block;
}

#blue {
	height: 292px;
	width: 292px;
	float:right;
	margin-right: 416px;
	background-color: blue;
	display: inline-block;
	border: none;
}


#green {
	height: 292px;
	width: 292px;
	margin-left: 416px;
	background-color: rgb(12,203,65);
	display: inline-block;
}

#teal {
	height: 292px;
	width: 292px;
	background-color: rgb(7,200,217);
	margin-left: 106px;
	display: inline-block;
}

form { 
	display: inline;
}

#return {
	width: 328px;
	background-color: rgb(0,0,0);
	margin-left: 796px;
	margin-top: 145px;
	padding-top: 24.5px;
	padding-bottom: 24.5px;

}

#return a {
	font-size: 56px;
	font-weight: bold;
	font-family: helvetica;
	color: rgb(255,255,255);
	text-align: center;
	text-decoration: none;
	margin-left: 47.5px;
}


#info {
	padding-top: 80px;
	text-align: center;
	font-size: 69px;
	font-family: Helvetica;
	font-weight: bold;
}






